
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color:#d0e6f7;
            color: burlywood;
            text-align: center;
        }
        header {
            background-color: #1565c0;
            padding: 20px;
            color: white;
        }
        nav ul {
            list-style: none;
            padding: 0;
        }
        nav ul li {
            display: inline;
            margin: 0 15px;
        }
        nav ul li a {
            color: white;
            text-decoration: none;
        }
        .hero {
            padding: 50px;
            background: url('bali-rice-fields.jpg') no-repeat center center/cover;
            color: white;
        }
        .btn {
            background-color: #1565c0;
            color: white;
            padding: 10px 20px;
            text-decoration: none;
            border-radius: 5px;
        }
        section {
            padding: 20px;
        }
        .rice-field img {
            width: 100%;
            max-width: 600px;
            border-radius: 10px;
        }
        footer {
            background-color: #1565c0;
            color:burlywood;
            padding: 10px;
        }
        header h1{
            color: burlywood;
        }
        header a{
            color: inherit;
            text-decoration: none;
        }
        .hero h2{
            color: burlywood;
        }
        .hero p{
            color: burlywood;
        }