body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F0F8FF;
    color: burlywood;
    text-align: center;
    background-repeat: no-repeat;
    display: grid;
    
   
}
header {
    background-color: #1565c0;
    padding: 20px;
    color: white;
}
nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 0 15px;
}
nav ul li a {
    color: white;
    text-decoration: none;
}
.hero {
    padding: 50px;
    background: url('') no-repeat center center/cover;
    color: white;
}
.btn {
    background-color: #0277bd;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}
section {
    padding: 20px;
}
.destination img {
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
}
footer {
    background-color: #1565c0;
    color:burlywood;
    padding: 10px;
}
header a{
    color: inherit;
    text-decoration: none;
}
.destination img{
    margin-top: -30px;
}
#ár h3{
    margin-top: -20px;
}
#info h2{
margin-top: -20px;
}
#ár h3{
    margin-top: 5px;
}
#ár h1{
    margin-top: -15px;
}
.arrow {
    position:absolute ;
    top: 60%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
}
.left {
    left: 623px;
}
.right {
    right: 621.5px;
}
img {
    width: 600px;
    height: 400px;
}
header h1{
color: burlywood;
}