body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-size: cover;
    color: #333;
    background-position: center;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../Pictures/bali\ bgc.webp);
    background-blend-mode: overlay;
}

header {
    background: #0077b6;
    color: white;
    padding: 20px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    text-align: center;
    background: no-repeat center center/cover;
    color: white;
    padding: 100px 20px;
}

.hero .btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background: #ff6f61;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

#destinations {
    text-align: center;
    padding: 50px 20px;
}

.destination-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    align-items: flex-start;
    display: grid;
    grid-template-columns: repeat(auto-fit, minimax(300px, 1fr));
}

.destination {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.destination img {
    width: 300px;
    height: 200px;
    border-radius: 10px;
}

#about {
    text-align: center;
    padding: 50px 20px;
}

footer {
    text-align: center;
    background: #0077b6;
    color: white;
    padding: 15px 0;
    margin-top: 20px;
}

h1 {
    line-height: 15px;
    margin-top: 4px;
    margin-bottom: 4px;
    color: burlywood;
    -webkit-text-stroke: 0.5px white;
}

h2 {
    color: burlywood;
    line-height: 0;
    -webkit-text-stroke: 0.2px white;

}

h3 {
    color: burlywood;
}

p {
    color: burlywood;
}

a:hover {
    color: burlywood;
}
.destination h2{
display: flex;
align-items: flex-start;
}
#szoveg{
    text-align: center;
    background-blend-mode: soft-light;
    margin-bottom: -200px;
}
div{
    margin-bottom: -10px;
}
#szoveg p{
    -webkit-text-stroke: #333 1px;
    font-size: 20px;
}
header a{
    color: inherit;
    text-decoration: none;
    font-size: 18px;
}