body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
    background-position: center;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('../Pictures/newyork_bg.jpg');
    background-blend-mode: overlay;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    
}

header {
    background: #1565c0;
    color: white;
    padding: 20px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    text-align: center;
    background: no-repeat center center/cover;
    color: white;
    padding: 100px 20px;
}

.hero .btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background: #ff6f61;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

#destinations {
    text-align: center;
    padding: 50px 20px;
}

.destination-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    align-items: flex-start;
    display: grid;
    grid-template-columns: repeat(auto-fit, minimax(300px, 1fr))
}

.destination {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.destination img {
    width: 200px;
    height: 150px;
    border-radius: 10px;
}

#about {
    text-align: center;
    padding: 50px 20px;
}

footer {
    text-align: center;
    background: #1565c0;
    color: white;
    padding: 15px 0;
    margin-top: 20px;
}

h1 {
    line-height: 15px;
    margin-top: 4px;
    margin-bottom: 4px;
    color: burlywood;
    -webkit-text-stroke: 0.5px white;
}

h2 {
    color: burlywood;
    line-height: 0;
    -webkit-text-stroke: 0.2px white;
}

h3 {
    color: burlywood;
}

p {
    color: burlywood;
}

a:hover {
    color: burlywood;
}
header a{
    text-decoration: none;
    color: inherit;
    line-height: 2cm;
    margin-bottom: -10px;
    margin-top: 100px;
}
section a{
    text-decoration: none;
}
header h2{
    margin-top: 1px;
    
}

header p{
    margin-bottom: -15px;
}
header h1{
    margin-top: 10px;
}
section h2{
    font-size: 0.6cm;
}