body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d0e6f7;
    color: burlywood;
    text-align: center;
}

header {
    background-color: #1565c0;
    padding: 20px;
    color: white;
}

header a {
    color: inherit;
    text-decoration: none;
}

header h1 {
    color: burlywood;
}

.hero {
    padding: 50px;
    color: white;
}

.hero h2 {
    color: burlywood;
    margin-top: -30px;
}

.hero p {
    color: burlywood;
}

section {
    padding: 20px;
}

#info {
    background-color: #d0e6f7;
    padding: 20px;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#info h2 {
    font-size: 1.8rem;
    color: burlywood;
    margin-bottom: 20px;
}

#info h3 {
    font-size: 1.4rem;
    color: burlywood;
    margin-top: 15px;
}

#info p {
    font-size: 1rem;
    color: burlywood;
    line-height: 1.6;
}

#info ul {
    list-style-type: square;
    padding-left: 20px;
}

#info li {
    margin-bottom: 10px;
}

.landmark img {
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
}

footer {
    background-color: #1565c0;
    color: white;
    padding: 10px;
}

footer h2 {
    color: burlywood;
}

footer p {
    color: burlywood;
}
.landmark2 img{
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
}

.landmark2 p{
    margin-bottom: -40px;
}
#square-info h2{
    margin-top: -50px;
}
#info h2{
    margin-top: -40px;
}