/* Alap stílusok */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-size: cover;
    color: #333;
    background-position: center;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(bgc.webp);
    background-blend-mode: overlay;
}

header {
    background: #0077b6;
    color: white;
    padding: 20px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    text-align: center;
    background: no-repeat center center/cover;
    color: white;
    padding: 100px 20px;
}

.hero .btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background: #ff6f61;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

#destinations {
    text-align: center;
    padding: 50px 20px;
}

.destination-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.destination {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.destination img {
    width: 200px;
    height: 150px;
    border-radius: 10px;
}

#about, #contact {
    text-align: center;
    padding: 50px 20px;
}

footer {
    text-align: center;
    background: #0077b6;
    color: white;
    padding: 15px 0;
    margin-top: 20px;
}

h1 {
    line-height: 15px;
    margin-top: 4px;
    margin-bottom: 4px;
    color: burlywood;
}

h2 {
    color: burlywood;
}

h3 {
    color: burlywood;
}

p {
    color: burlywood;
}

a:hover {
    color: burlywood;
}

#about {
    margin-bottom: -100px;
}

footer {
    height: min-content;
}

.hűségprogram {
    margin: auto;
    text-align: end;
}

/* Visszaszámláló szekció */
.countdown-section {
    padding: 40px 20px;
    text-align: center;
    color: #fff;

}

.countdown {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.countdown-box {
    background-color: #333;
    color: white;
    padding: 20px;
    border-radius: 10px;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    transition: transform 0.3s ease-in-out;
}

.time {
    font-size: 45px;
    font-weight: bold;
}

.label {
    font-size: 20px;
}

/* Hover animáció a visszaszámláló dobozokon */
.countdown-box:hover {
    transform: scale(1.1);
}

.countdown-box:hover .time {
    color: burlywood;
}
